<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class='container' id="onlineFriends">
    <div>
        <a href="/groups/create" id="btnGroup" class="btn btn-dark btn-lg mt-1">Create Group</a>
    </div>
    <br>
    <div class="row">
            <% for (let friend of friends) { %>
                <div class="col col-12 col-md-6 col-lg-4 col-xl-3 rounded mt-5">
                    <img class="mx-auto d-block rounded-circle border border-dark mt-5" src="/<%= friend.image %>" style="height: 200px; width: 200px;">
                    <div style="text-align: center;" class="mt-2">
                        <h3>
                            <a href="/profile/<%= friend.id %>" style="color: #000"> <%= friend.name %> </a>
                        </h3>
                        <a href="/chat/<%= friend.chatId %>" class="btn br">Chat</a>
                    </div>
                </div>
            <% } %>
    </div>
</div>


<%- include('parts/scripts')%>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>

</body>
</html>